		.contact_container{

		padding: 0;
		margin:0;
		transform-style: flat!important;
		}

		.view ul {
			height: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.view {
			/*z-index: 1000;*/
			width: 560px;
			height: 300px;
			margin: 100px auto;
			border: 1px solid #CCC;
			position: relative;
		}

		.view li {
			position: absolute;
			top: 0;
			width: 112px;
			height: 100%;
			transform-style: preserve-3d;
			transition: all 1s;
		}

		.view li:nth-child(1) {
			left: 0;
		}

		.view li:nth-child(2) {
			left: 112px;
		}

		.view li:nth-child(3) {
			left: 224px;
		}

		.view li:nth-child(4) {
			left: 336px;
		}

		.view li:nth-child(5) {
			left: 448px;
		}

		.view li span {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			display: block;
			width: 112px;
			height: 300px;
		}

		.view li span:nth-child(1) {
			background: url(../images/1.jpg);
			transform: translateZ(150px);
		}

		.view li span:nth-child(2) {
			background: url(../images/2.jpg);
			transform: rotateX(90deg) translateZ(150px);
		}

		.view li span:nth-child(3) {
			background: url(../images/3.jpg);
			transform: rotateX(180deg) translateZ(150px);
		}

		.view li span:nth-child(4) {
			background: url(../images/4.jpg);
			transform: rotateX(270deg) translateZ(150px);
		}

		.view li:nth-child(2) span {
			background-position: -112px 0;
		}

		.view li:nth-child(3) span {
			background-position: -224px 0;
		}

		.view li:nth-child(4) span {
			background-position: -336px 0;
		}

		.view li:nth-child(5) span {
			background-position: -448px 0;
		}


		/*按钮*/
		.prev, .next {
			display: block;
			width: 60px;
			height: 60px;
			text-align: center;
			line-height: 60px;
			margin-top: -30px;
			font-size: 40px;
			color: #FFF;
			text-decoration: none;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 50%;
		}

		.next {
			right: 0;
		}


		/*这里是宇宙的样式*/
		.versal {
			width: 600px;
			height: 600px;
			margin: 40px auto;
			position: relative;
			list-style: none;
		}

		.versal li {
			border: 2px solid #394057;
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;

			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: orbit;
		}

		.versal li span {
			display: block;
			position: absolute;
			left: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
		}

		.versal li:nth-child(1) {
			width: 60px;
			height: 60px;
			border: none;
			box-shadow: 0 0 50px #c90;
			background-color: #C90;
			animation-duration: 5s;
		}

		.versal li:nth-child(2) {
			width: 120px;
			height: 120px;
			animation-duration: 6s;
		}

		.versal li:nth-child(2) span {
			background-color: yellow;
			left: 80px;
			top: 0;
		}
		.versal li:nth-child(3) {
			width: 180px;
			height: 180px;
			animation-duration: 10s;
		}

		.versal li:nth-child(3) span {
			background-color: blue;
			left: 47px;
			top: 0;
		}

		.versal li:nth-child(4) {
			width: 240px;
			height: 240px;
			animation-duration: 12s;
		}

		.versal li:nth-child(4) > span {
			background-color: green;
			left: 209px;
			top: 43px;
			animation: orbit 2s infinite linear;
		}

		.versal li:nth-child(4) > span span {
			width: 6px;
			height: 6px;
			left: 16px;
			background-color: yellow;
		}

		.versal li:nth-child(5) {
			width: 300px;
			height: 300px;
			background-image: url(../asteroids_meteorids.png);
			background-size: cover;
			animation-duration: 25s;
		}

		.versal li:nth-child(5) span {
			background-color: red;
			left: 95px;
			top: 0;
		}

		.versal li:nth-child(6) {
			width: 360px;
			height: 360px;
			animation-duration: 20s;
		}

		.versal li:nth-child(6) span {
			background-color: #CCC;
			left: -5px;
			top: 200px;
		}

		.versal li:nth-child(7) {
			width: 420px;
			height: 420px;
			animation-duration: 30s;
		}

		.versal li:nth-child(7) > span {
			background-color: green;
			left: 300px;
			top: 18px;
		}

		.versal li:nth-child(7) > span span {
			width: 15px;
			height: 15px;
			border: 2px solid #CCC;
			left: -4px;
			top: -4px;
			transform: skew(0, 45deg);
		}

		.versal li:nth-child(8) {
			width: 480px;
			height: 480px;
			animation-duration: 35s;
		}

		.versal li:nth-child(8) span {
			background-color: pink;
			left: 0;
			top: 170px;
		}

		.versal li:nth-child(9) {
			width: 540px;
			height: 540px;
			animation-duration: 40s;
		}

		.versal li:nth-child(9) span {
			background-color: blue;
			left: 47px;
			top: 100px;
		}

		.versal li:nth-child(10) {
			width: 600px;
			height: 600px;
			animation-duration: 45s;
		}

		.versal li:nth-child(10) span {
			background-color: yellow;
			left: 224px;
			top: 0;
		}

		@keyframes orbit {
			0% {
				transform: translate(-50%, -50%) rotate(0deg);
			}

			100% {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
